@import url('https://fonts.googleapis.com/css2?family=Wellfleet&display=swap');



body {
    font-family: "Wellfleet", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: #61a89b;
}

pre {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(144, 80, 146);

}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4, h5, h6 {
    font-size: 22px;
}

strong {
    font-size: 20px;
    color: white;
}

mark {
    background-color: #bf93e8;
}

a {
    color: rgb(246, 255, 0);
    text-decoration: none;
}

a:hover {
    color: #bf93e8;
}

button {
    background-color: yellow;
    border: none;
    border-radius: 3px;
    font-family: "Wellfleet", monospace;
}

button:hover {
    background-color: #bf93e8;
    color: black;
    cursor: pointer;
}